commands:
  01_change_dir:
    command: "cd /var/app/staging"
    cwd: /var/app/staging
  02_install_all_deps:
    command: "npm install"
    cwd: /var/app/staging
  03_build_frontend:
    command: "npm run build"
    cwd: /var/app/staging
  04_install_prod_deps_backend:
    command: "cd src/backend && npm install --production"
    cwd: /var/app/staging
  05_start_app:
    command: "npm start"
    cwd: /var/app/staging 