option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeVersion: 18.x
    NodeCommand: "npm start"
    StaticFiles:
      /static: public
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 8081
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: /static 
