option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeVersion: 18.x
    NodeCommand: "npm start"
    StaticFiles: {}
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 8081
  # Removed potentially conflicting static file setting
  # aws:elasticbeanstalk:environment:proxy:staticfiles:
  #   /static: /static 
